/* newHeros */
.wrap.newHero {
    width: 100%;
    overflow: hidden;
    background: #000 url(//game.gtimg.cn/images/yxzj/web201706/images/coming/v2/pages/heroBg.png) top center no-repeat;
    background-size: 100%;
    padding-bottom: 120px;
}

.content {
    width: 100%;
    margin: auto;
}

.hero .sub-left ul{padding-left:120px;}

.experiServe-cont {
    display: none;
}

.experiServe .experiServe-cont {
    margin-top: 40px;
    display: block;
}

.experiServe .experSer-cont1 {
    width: 1200px;
    height: 120px;
    background-color: rgba(26, 27, 29, 0.3);
    border: solid 1px #252525;
}

.experiServe .experSer-contL {
    float: left;
    width: 599px;
    height: 61px;
    border-right: solid 1px rgba(255, 255, 255, 0.11);
    margin-top: 29px;
}

.experiServe .experSer-contL .info-skill i {
    top: -20px;
    left: 407px;
}

.experiServe .experSer-contR {
    float: left;
    width: 565px;
    text-align: left;
    padding-left: 35px;
}

.experiServe .experSer-contR .info-time {
    font-weight: 600;
    margin: 16px 0 0 38px;
}

.experiServe .experSer-contR .info-tab {
    margin: 28px 0 0 0;
}

.experiServe .experSer-txt {
    font-size: 12px;
    color: #959391;
    margin-top: 21px;
}

/*6.23����label*/
.wrap .head-label{
    display: block;
    margin:40px auto 0;
}

/*hero-intro*/
.experiServe.hero-intro {
    display: none;
}

.hero-intro {
    position: relative;
    overflow: hidden;
    width: 1200px;
    margin: 88px auto 0;
}

.hero-intro .hero-intro-left {
    padding: 11.5px 20px;
    float: left;
    width: 450px;
    height: 598px;
    background-color: rgba(26, 27, 29, 0.3);    
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.29);
}

.hero-intro .hero-info {
    border-left: 1px solid rgba(185, 140, 82, 0.1);
    border-right: 1px solid rgba(185, 140, 82, 0.1);
    height: 598px;
    padding-left: 25px;
}

.hero-intro .intro-title {
    font-size: 26px;
    color: #c39b5e;
    width: 398px;
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #c39b5e;
}

.info-skill {
    position: relative;
    width: 100%;
    min-height: 65px;
    margin: 40px 0 20px;
}

.info-skill i {
    display: inline-block;
    width: 150px;
    height: 65px;
    overflow: hidden;
    text-indent: -9999em;
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/coming/v2/index/hero-sort.png) no-repeat;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.info-skill .hero-sort-1{background-position: 0px -141px;}
.info-skill .hero-sort-2{background-position: 0px -71px;}
.info-skill .hero-sort-3{background-position: 0px 0px;}
.info-skill .hero-sort-4{background-position: 0px -280px;}
.info-skill .hero-sort-5{background-position: 0px -351px;}
.info-skill .hero-sort-6{background-position: 0px -211px;}

.info-tab {
   margin-bottom:40px;
}

.info-tab span,.info-tab a {
    background-color: #0c0f13;
    border-radius: 12px;
    border: solid 1px #c39b5e;
    font-size: 14px;
    color: #b98c52;
    padding: 2px 7.5px;
    margin-right: 10px;
}
.info-tab a{
    color:#1a1b1d;
    background-color: #c39b5e;
    text-decoration: none;
    cursor:pointer;
}
.info-tab a:hover{
    opacity:0.8;
}

.info-time {
    font-size: 20px;
    position: relative;
    margin: 25px 0 18px 38px;
    color: #fff;
}

.info-time:after {
    content: '';
    width: 27px;
    height: 25px;
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/coming/v2/index/icon-bg.png) no-repeat;
    position: absolute;
    top: 2px;
    background-position-x: -151px;
    left: -27px;
    margin-left: -12.5px;
    background-position-y: -17px;
}

.info-gif {
    position: relative;
    width: 400px;
    height: 225px;
    margin-bottom: 20px;
}

.info-gif::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 225px;
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
}

.info-gif img {
    width: 100%;
}

.btn-img1 {
    width: 23px;
    vertical-align: middle;
    margin-right: 12px;
}

.btn-img2 {
    width: 24px;
    vertical-align: middle;
    margin-right: 12px;
}

.hero-story {
    float: left;
    width: 610px;
    height: 562px;
    background-color: rgba(26, 27, 29, 0.3);    
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.29);
    margin-left: 20px;
    padding: 11.5px 40px 48.5px 40px;
}

.hero-story .info-btn {
    width: 610px;
}

.hero-story .story-txt {
    width: 581px;
    height: 312px;
    font-size: 16px;
    line-height: 36px;
    color: #8f897f;
    overflow-y: auto;
    padding: 30px 27px 0 0;
    margin: 5px 0 50px 0;
}

.hero-intro .hero-story .intro-title {
    width: 610px;
}


/*Scrollbar style*/

/* Set the style of the scrollbar */
.hero-story .story-txt::-webkit-scrollbar {
    width: 4px;
    height: 498px;
    background-color: #18191b;
}

/* Rolling groove */
.hero-story .story-txt::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Scrollbar slider */
.hero-story .story-txt::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1f2123;
}

.hero-story .story-txt::-webkit-scrollbar-thumb:window-inactive {
    background-color: #1f2123;
}

.hero-story .story-txt::-webkit-scrollbar-thumb:hover {
    background-color: #1f2123;
    -webkit-border-radius: 4px;
}


/*hero-skill-intro*/

.hero-skill-intro {
    position: relative;
    width: 1200px;
    margin: 88px auto 0;
    text-align: center;
}

.wrap-content,
.skill-list {
    width: 100%;
    overflow: hidden;
}

.skill-list {
    width: 100%;
    overflow: hidden;
    *zoom: 1;
    text-align: center;
    padding-top: 80px;
}

.skill-list li {
    position: relative;
    display: inline-block;
    margin: 0 45px;
    cursor: pointer;
}

.skill-list li img {
    width: 100px;
    height: 100px;
    border: solid 3px #202021;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-transition:0.4s ease;-moz-transition:0.4s ease;transition:0.4s ease;
}

.skill-list li .skill-img::after {
    content: '';
    position: absolute;
    width: 97px;
    height: 97px;
    background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1));
    top: 1.5px;
    left: 1.5px;
    border-radius: 50%;
}

.skill-list li.on img {
    border: solid 3px #c39b5e;
}

.skill-list li .skill-txt {
    font-size: 18px;
    line-height: 20px;
    color: #8f897f;
    margin-top: 15px;
}

.skill-list li.on .skill-txt {
    color: #c39b5e;
}

.hero-skill-intro .skill-cont .skill-cont-list.on {
    display: block;
}

.hero-skill-intro .skill-cont .skill-cont-list {
    display: none;
}

.skill-cont {
    width: 100%;
    overflow: hidden;
    margin-top: 90px;
    min-height: 280px;
}

.skill-cont-left {
    float: left;
    width: 580px;
    text-align: left;
}

.left-tit {
    height: 35px;
    line-height: 35px;
}

.left-tit span {
    font-size: 16px;
    line-height: 35px;
    color: #d0cdc8;
    background-color: #262628;
    border-radius: 16px;
    padding: 8px 18px;
    margin-left: 10px;
}

.left-tit span.tit1 {
    font-size: 28px;
    line-height: 35px;
    color: #c39b5e;
    background: none;
    padding: 0;
    margin: 0 15px 0 0;
}

.skill-cont-right {
    float: right;
}

.left-desc {
    font-size: 16px;
    line-height: 36px;
    color: #8f897f;
}

.left-subTit {
    font-size: 20px;
    line-height: 20px;
    color: #fefefe;
    border-top: dashed 1px rgba(191, 191, 191, 0.2);
    padding: 40px 0 10px 0;
    margin-top: 45px;
}

.left-desc1 {
    margin: 14px 0 47px 0;
}

.skill-cont-right .info-gif {
    width: 512px;
    height: 287px;
    margin-bottom: 37px;
}

.skill-cont-right .info-gif::after {
    content: '';
    position: absolute;
    width: 512px;
    height: 287px;
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
}

.skill-cont-right .info-btn {
    width: 509px;
}


/*hero-comment*/

.hero-comment {
    position: relative;
    width: 1200px;
    margin:88px auto 0;
}

.comment-list {
    margin-top: 125px;
}

.comment-list li {
    width: 100%;
    overflow: hidden;
    margin-bottom: 70px;
}

.comment-list li .comment-img {
    overflow: hidden;
    float: left;
    width: 140px;
    height: 140px;
    background-color: #19191a;
    border-radius: 50%;
}

.comment-list li .comment-img img {
    display: block;
    border-radius: 50%;
}

.comment-list li .comment-cont {
    float: left;
    margin-left: 45px;
    width: 1008px;
}

.comment-list li .comment-name {
    font-size: 28px;
    line-height: 28px;
    color: #c39b5e;
    margin-bottom: 20px;
}

.comment-list li .comment-txt {
    font-size: 16px;
    line-height: 36px;
    color: #8f897f;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}


/*hero-colloc*/

.hero-colloc {
    position: relative;
    width: 1200px;
    margin:88px auto 60px;
}

.hero-colloc .wrap-content {
    margin-top: 100px;
}

.inscrip-coll,
.equip-coll,
.user-skill,
.lineUp-colloc {
    width: 1118px;
    min-height: 330px;
    background-color: rgba(26, 27, 29, 0.3);
    border: solid 1px #252525;
    margin-bottom: 20px;
    padding: 40px;
}

.user-skill{
    min-height:332px;
}

.hero-colloc h4 {
    font-size: 28px;
    line-height: 28px;
    color: #c39b5e;
    margin-bottom: 30px;
}

.inscrip-txt {
    font-size: 16px;
    line-height: 40px;
    color: #8f897f;
}

.inscrip-left,
h5,
.equip-tit {
    font-size: 16px;
    line-height: 28px;
    color: #c39b5e;
    font-weight: 100;
}

.inscrip-level {
    overflow: hidden;
    margin-top: 20px;
}

.inscrip-level-left {
    overflow: hidden;
    float: left;
    margin-right: 110px;
}

.inscrip-level-left:last-child {
    margin-right: 0;
}

.inscrip-level-left li {
    float: left;
    width: 152px;
    height: 128px;
    background-color: #161618;
    border-radius: 4px;
    border: solid 1px rgba(84, 83, 93, 0.3);
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #787878;
    margin-right: 20px;
    margin-top: 14px;
}

.inscrip-level-left li:nth-child(3n) {
    margin-right: 0;
}

.inscrip-level-left .inscrip-img {
    width: 60px;
    height: 70px;
    margin: 14px auto;
}

.inscrip-level-left .inscrip-desc {
    line-height: 14px;
}

.inscrip-level-left .inscrip-desc span {
    font-weight: 600;
}

.equip-contL {
    float: left;
    width: 522px;
    min-height: 100px;
    border-right: 1px solid #252525;
    padding-right: 35px;
}

.equip-contR {
    float: left;
    width: 512px;
    min-height: 100px;
    padding-left: 35px;
}

.equip-txt {
    font-size: 16px;
    line-height: 36px;
    color: #8f897f;
    margin-top: 5px;
}

.equip-coll .equip-txt {
    height: 117px;
    overflow-y: auto;
    padding-right: 10px;
}
/*Scrollbar style*/

/* Set the style of the scrollbar */
.equip-coll .equip-txt::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #18191b;
}

/* Rolling groove */
.equip-coll .equip-txt::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Scrollbar slider */
.equip-coll .equip-txt::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1f2123;
}

.equip-coll .equip-txt::-webkit-scrollbar-thumb:window-inactive {
    background-color: #1f2123;
}

.equip-coll .equip-txt::-webkit-scrollbar-thumb:hover {
    background-color: #1f2123;
    -webkit-border-radius: 4px;
}

.equip-list ul {
    overflow: hidden;
    margin-top: 40px;
}

.equip-list li {
    overflow: hidden;
    float: left;
    font-size: 14px;
    line-height: 28px;
    color: #787878;
    width: 84px;
    text-align: center;
}

.equip-list li .equip-img {
    width: 60px;
    height: 60px;
    background-color: #0e0e10;
    border-radius: 50%;
    box-sizing: border-box;
    margin: auto;
}

.equip-list li:last-child {
    margin-right: 0;
}

.lineUp-colloc {
    min-height: 340px;
    padding-bottom:80px
}

.lineUp-cont .list {
    float: left;
    width: 340px;
    margin-right: 49px;
}

.lineUp-cont .list:last-child {
    margin-right: 0;
}

.lineUp-cont .list-tit {
    width: 100%;
    height: 40px;
    background-color: #18181a;
    font-size: 18px;
    line-height: 40px;
    color: #c39b5e;
    text-align: center;
}

.list-content {
    overflow: hidden;
    margin-top: 30px;
}

.list-content .list-img {
    overflow: hidden;
    float: left;
    width: 80px;
    height: 80px;
    background-color: #212122;
    border-radius: 10px;
}

.list-content .list-img img {
    display: block;
    border-radius: 12px;
}

.list-content .list-cont {
    float: left;
    margin-left: 14px;
    width: 240px;
}

.list-content .list-name {
    font-size: 18px;
    line-height: 18px;
    color: #c39b5e;
    margin-bottom: 12.5px;
}

.list-content .list-desc {
    font-size: 16px;
    line-height: 30px;
    color: #8f897f;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}


/*hero-design*/

.hero-design {
    position: relative;
    width: 1200px;
    margin:88px auto 0;
}

.design-cont-txt {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #8f897f;
    margin-top: 70px;
}

.design-cont {
    overflow: hidden;
    margin-top: 49px;
}
.design-cont img{
    display: block;
    margin:0 auto;
}

.design-contL {
    width: 580px;
    height: 320px;
    background-color: #212122;
    float: left;
}

.design-contR {
    width: 580px;
    height: 320px;
    background-color: #212122;
    float: right;
}


/*hero-arts*/

.hero-arts {
    position: relative;
    width: 1200px;
    margin:88px auto 0;
}


/*hero-relation*/

.hero-relation {
    position: relative;
    width: 1200px;
    margin:88px auto 0;
}

.relation-cont {
    width: 1200px;
    margin-top: 49px;
}
.relation-cont img{display: block;margin:0 auto;}
.relation-cont .info-btn{margin:60px auto 0 auto;}
/*hero-mystery*/

.hero-mystery {
    position: relative;
    width: 1200px;
    margin:88px auto 0;
}

.hero-mystery .wrap-content {
    overflow: hidden;
    margin-top: 70px;
}

.mystery-contL {
    float: left;
    width: 520px;
    height: 450px;
    background-color: #212122;
}

.mystery-contR {
    float: right;
    position: relative;
    height: 450px;
}

.mystery-txt {
    width: 616px;
    height: 305px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 1px;
    color: #8f897f;
}

.hero-impression{    
    position: relative;
    width: 1200px;
    margin: auto;
    margin-top: 110px;
}
.hero-impression .wrap-content{margin-top: 70px;padding-bottom:100px;}
.impression-tips{font-size:18px;color: #999;margin-bottom:34px;font-weight: bold;}
.impression-show{overflow: hidden;margin-bottom:50px;}
.impression-list{display: inline;-webkit-transition:0.8s ease;-moz-transition:0.8s ease;transition:0.8s ease;}
.impression-list li,.a-toggle{ position: relative; cursor:pointer;font-size:16px;color:#fff;display: inline-block;height:32px;padding:0 32px;line-height:32px;border-radius:18px;vertical-align: top;margin-bottom:26px;margin-right:8px;
    background-color:rgba(195,155,94, 0.2);opacity:1;
    -webkit-transition:0.8s ease;-moz-transition:0.8s ease;transition:0.8s ease;
}
.impression-list li:nth-child(1),.impression-list li:nth-child(2),.impression-list li:nth-child(3),.impression-list li:nth-child(4),.impression-list li:nth-child(5),.impression-list li:nth-child(6),.impression-list li:nth-child(7),.impression-list li:nth-child(8),.impression-list li:nth-child(9),.impression-list li:nth-child(10)
{background-color:rgba(195,155,94, 1);}
.impression-list li:nth-child(11),.impression-list li:nth-child(12),.impression-list li:nth-child(13),.impression-list li:nth-child(14),.impression-list li:nth-child(15),.impression-list li:nth-child(16),.impression-list li:nth-child(17),.impression-list li:nth-child(18),.impression-list li:nth-child(19),.impression-list li:nth-child(20)
{background-color:rgba(195,155,94, 0.8);}
.impression-list li:nth-child(21),.impression-list li:nth-child(22),.impression-list li:nth-child(23),.impression-list li:nth-child(24),.impression-list li:nth-child(25),.impression-list li:nth-child(26),.impression-list li:nth-child(27),.impression-list li:nth-child(28),.impression-list li:nth-child(29),.impression-list li:nth-child(30)
{background-color:rgba(195,155,94, 0.6);}
.impression-list li:nth-child(31),.impression-list li:nth-child(32),.impression-list li:nth-child(33),.impression-list li:nth-child(34),.impression-list li:nth-child(35),.impression-list li:nth-child(36),.impression-list li:nth-child(37),.impression-list li:nth-child(38),.impression-list li:nth-child(39),.impression-list li:nth-child(40)
{background-color:rgba(195,155,94, 0.4);}
.show-less .impression-list li{opacity:0;display: none;}
.show-less .impression-list li:nth-child(1),.show-less .impression-list li:nth-child(2),.show-less .impression-list li:nth-child(3),.show-less .impression-list li:nth-child(4),.show-less .impression-list li:nth-child(5),.show-less .impression-list li:nth-child(6),.show-less .impression-list li:nth-child(7),.show-less .impression-list li:nth-child(8),.show-less .impression-list li:nth-child(9),.show-less .impression-list li:nth-child(10)
{display: inline-block;opacity:1;}
.show-less .a-toggle-hide{display: none;}
.hero-impression .impression-list li:hover,.impression-post .btn-submit:hover,.hero-impression .impression-list li.voted{background-color:#9e6a2e}

.impression-show .a-toggle{background:none;color:#c39b5e;border:1px solid #c39b5e}
.impression-show .a-toggle:hover{text-decoration: none;background-color: #271f14;}
.impression-show .a-toggle-more{border:none;background: url(data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAOCAYAAADjXQYbAAAAYklEQVR4AWI4PDsOUAcdaAAIxlAUbnrQ/CGQCAoUCQoqgaLetTOA3OEbHJhbIEf256fEA1PRVbhgKroGB0xF12KLouuxRNGNmKI4YFahwxo9tKuHapwwNcKtRkh4o/lSNPwHV8S2tlrm4CMAAAAASUVORK5CYII=) no-repeat 75px center;}
.impression-show .a-toggle-hide{background: url(data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAAPElEQVR4AWM4PDsOG5YH4v1ArIBNHpeGA0DsgEsjdg0IhQrYNOLTwIBLI04N+DRi1UBII4izAEUDYY0LAHshqklrMXDaAAAAAElFTkSuQmCC) no-repeat 70px center;}

.impression-post{position:relative;width:720px;text-align:left;margin:0 auto;font-size:16px;}
.impression-post .input-txt{width:600px;height:32px;line-height:32px;padding:10px 15px;background-color:#fff;border:none;}
.impression-post .btn-submit{position: absolute;right:0;top:0;color:#fff;font-weight:bold;width:90px;height:52px;background-color:#c39b5e;border:none;cursor:pointer;letter-spacing:0.2rem;}

.wrap .head-title{
    top:0;
    margin-top:-300px;
}

/*�淨˼· 6.23*/
.hero-play-think{
    position: relative;
    width: 1200px;
    margin:88px auto 0;
    text-align: center;
}
.hero-play-think .wrap-content{
    padding-top:78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-play-think .info-gif{
    width:571px;
    height:321px;
    margin-top: 10px;
}
.hero-play-think .info-gif::after{
    width:100%;
    height:100%;
}
.hero-play-think .play-text{
    width:600px;
    height:341px;
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.hero-play-think .play-text .left-desc{
    height:100%;
    overflow-y: auto;
}
.hero-play-think .play-text .left-desc::-webkit-scrollbar {
    width: 4px;
    height: 498px;
    background-color: #18191b;
}

/* Rolling groove */
.hero-play-think .play-text .left-desc::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Scrollbar slider */
.hero-play-think .play-text .left-desc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1f2123;
}

.hero-play-think .play-text .left-desc::-webkit-scrollbar-thumb:window-inactive {
    background-color: #1f2123;
}

.hero-play-think .play-text .left-desc::-webkit-scrollbar-thumb:hover {
    background-color: #1f2123;
    -webkit-border-radius: 4px;
}
/*Ӣ������ 6.23*/
.hero-voice{
    position: relative;
    width: 1200px;
    margin:88px auto 0;
    text-align: center;
}
.hero-voice .wrap-content{
    padding-top:78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-voice .voice-list{
    width:586px;
}
.hero-voice .voice-list h6{
    font-size:24px;
    color:#c39b5e;
    text-align: left;
    margin-bottom:40px;
}
.hero-voice .voice-list ul{
    height:305px;
    overflow-y: auto;
    background: #0d0d0e;
    padding:10px 0;
}
.hero-voice .voice-list li{
    width:565px;
    height:56px;
    position:relative;
    box-sizing: border-box;
    padding-left:50px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom:5px;
    cursor: pointer;
}
.hero-voice .voice-list li.active{
    background:#1a1a1a;
    border-radius: 3px;
}

.hero-voice .voice-list li p{
    width:480px;
    line-height: 50px;
    font-size:18px;
    color:#8f897f;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.hero-voice .voice-list li:hover p{
    color:#c39b5e;
}
.hero-voice .voice-list li.active p{
    color:#c39b5e;
}
.hero-voice .voice-list li .icon-voice{
    width:16px;
    height:25px;
    background:url("//game.gtimg.cn/images/yxzj/web201706/images/coming/v2/pages/icon-voice1.png") no-repeat;
    margin-right:18px;
}
.hero-voice .voice-list li.active .icon-voice{
    background:url("//game.gtimg.cn/images/yxzj/web201706/images/coming/v2/pages/icon-voice2.png") no-repeat;
    animation: showVoice linear infinite 1s;
}
@keyframes showVoice {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.hero-voice .voice-list ul::-webkit-scrollbar {
    /*������������ʽ*/
    width : 4px;  /*�߿��ֱ��Ӧ�����������ĳߴ�*/
    height: 1px;
}
.hero-voice .voice-list ul::-webkit-scrollbar-thumb {
    /*����������С����*/
    border-radius: 10px;
    background   : #c39b5e;
}
.hero-voice .voice-list ul::-webkit-scrollbar-track {
    /*������������*/
    border-radius: 10px;
    background   : #1a1b1d;
}
.sub-list li a{
    margin-right:55px;
}
.thinking-swiper{
    width: 571px;
    height: 341px;
    overflow: hidden;
    position: relative;
}
.thinking-swiper .swiper-pagination{
   bottom:0;
   left: 0;
   width: 100%;
}

.thinking-swiper .swiper-pagination-bullet{
    background-color: #fff;
    opacity: 0.4;
}
.thinking-swiper .swiper-pagination-bullet-active{
    background-color: #c39b5e;
    opacity: 1;
}
.thinking-swiper .swiper-slide{
    width:571px;
    height:321px;
}
.thinking-swiper .swiper-slide img{
    display: block;
    width:100%;
    height:100%;
}
/* 2020��7��6�� ������Ƶ���� */
#dialog-video{
    width:1040px;
    height:580px;
    box-sizing: border-box;
    border:1px solid #61513a;
    position: absolute;
}
#dialog-video #video-box{
    width:1000px;
    height:540px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-500px;
    margin-top:-270px;
}
#dialog-video .dia-close{
    width:36px;
    height:36px;
    background:#61513a;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    right:-36px;
    color:#a19077;
    font-size:30px;
}
.player-box{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    cursor: pointer;
}